html {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  align-content: center;
  justify-content: center;
  align-items: center;
}

.imgCoffee {
  z-index: -1000;
}

.greyP {
  width: 50%;
  justify-content: center;
  color: #6f757c;
}

.bg-cafe {
  width: 100%;
  height: auto;
}

.imgcard {
  border-radius: 10px;
}

.bg {
  background-color: red;
}

.container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  text-align: center;
  /* background-color: #1b1d1f; */
  border-radius: 10px;
  width: 100%;

  /* ccc */
  /* position: absolute;
  z-index: 2;  */
}

.coffeeContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  color: white;
  align-items: center;
  text-align: center;
  background-color: #1b1d1f;
  border-radius: 10px;
  width: 80%;
  /* ccc */
  /* position: absolute;
  z-index: 2; */
}

.beanRow {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.bean {
  border-radius: 3px;
  border: #6f757c;
  background-color: #6f757c;
}

.box {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-content: center;
  column-gap: 25px;
  width: 100%;
}

.popular {
  z-index: 10;
  color: red;
}

footer {
  text-align: center;
  font-size: 10px;
  color: white;
  background: #111315;
}

@media screen and (min-width: 340px) {
  .box {
    justify-content: center;
  }
  .container {
    transform: translate(1%, -3%);
  }
}

@media screen and (min-width: 1020px) {
  .box {
    justify-content: flex-start;
    padding-left: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .box {
    justify-content: flex-start;
    padding-left: 100px;
  }

  .container {
    transform: translate(1%, -20%);
  }
}

@media screen and (min-width: 1440px) {
  .box {
    justify-content: flex-start;
    padding-left: 150px;
  }

  .container {
    transform: translate(1%, -20%);
  }
}
